@model ComedianViewModel

<DOCTYPE html>
    <html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <form method="post" asp-action="AddComedian" enctype="multipart/form-data">
            <div class="form-container">
                <p><label asp-for="ComedianName">Comedian Name:</label></p>
                <input asp-for="ComedianName" class="form-field" required />

                <p><label asp-for="ComedianImage">Comedian Image:</label></p>
                <input type="file" name="file" asp-for="ComedianImage" class="form-field" />

                <p><label asp-for="ComedianDescription">Comedian Description:</label></p>
                <textarea asp-for="ComedianDescription" class="form-field" rows="5" required></textarea>
            </div>
            <div class="submit-button-container">
                <input type="submit" class="submit-button" value="Add" />
            </div>
            <div class="back-button-container">
                <a asp-controller="Comedian" asp-action="Comedians" class="back-button">Back</a>
            </div>
        </form>
    </body>
</html>
</DOCTYPE>




