@model ComedianViewModel

@{
    ViewData["Title"] = $"Update - {Model.ComedianName}";
}


<div>
    <h1>Update: <b>@Model.ComedianName</b></h1>
</div>
<div>
    <form asp-action="UpdateComedian" method="post" enctype="multipart/form-data">
        <div class="text-danger">
            <input type="hidden" asp-for="ComedianID" />
            <input type="hidden" asp-for="ComedianImage" />
            <div class="form">
                <label asp-for="ComedianName">Comedian Name:</label>
                <input asp-for="ComedianName" />
                <span asp-validation-for="ComedianName"></span>
            </div>
            <div class="form">
                <label asp-for="ComedianImage">Comedian Image:</label>
                <input type="file" name="file" asp-for="ComedianImage" />
                <span asp-validation-for="ComedianImage"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComedianDescription">Comedian Description:</label>
                <textarea asp-for="ComedianDescription"></textarea>
                <span asp-validation-for="ComedianDescription"></span>
            </div>
            <div class="buttons">
                <input type="submit" value="Save" />
                <a asp-controller="Comedian" asp-action="Comedians">Back</a>
            </div>
        </div>
    </form>
</div>
