<DOCTYPE html>
	<html>
		<head>
			<style>
			body {
				font-family: Arial, sans-serif;
				background: linear-gradient(180deg, rgba(45,0,105,1) 0%, rgba(0,0,0,1) 100%);
				color: #fff;
			}

			.heading {
				color: #f8f8f2;
				text-align: center;
				font-size: 75px;
				margin-top: 60px;
			}
			</style>
		</head>
		<body>
			<h1 class="heading">Sorry, but you have already rated this joke!</h1>
		</body>
	</html>
</doctype>
