@using System.Security.Claims
@model List<RatingViewModel>

<!DOCTYPE html>
<html>
<head>
    <title>Ratings</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(35,0,82,1) 20%, rgba(35,0,82,1) 80%, rgba(0,0,0,1) 100%);
            color: #ffffff;
        }

        .heading {
            text-align: center;
        }

        .btn {
            display: inline-block;
            width: 30%;
            padding: 0.2em 0.5em;
            text-decoration: none;
            font-size: 1em;
            background-color: #f1c40f;
            color: #282a36;
            border-radius: 3px;
            transition: background-color 0.3s ease;
            margin: 0.5em 2%;
            text-align: center;
        }

            .btn:hover {
                background-color: #ba980d;
                color: #ffffff;
            }

        .rating {
            border-radius: 20px;
            box-shadow: 0 2px 4px rgba(255, 255, 255, 0.8);
            margin-bottom: 2em;
        }

        .rating-info, .rating-value {
            font-size: 2.0em;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <h1 class="heading">Ratings</h1>

    @foreach (var rating in Model)
    {
        <div class="rating">
            <h3 class="rating-info">Posted by: @rating.CreatorEmail.Split('@')[0] on @rating.RatingDateAdded.ToShortDateString()</h3>
            <p class="rating-value">Rating: @rating.RatingValue/5</p>
        </div>
    }

    <a asp-controller="Joke" asp-action="Jokes" class="btn">Back</a>
</body>
</html>
